<div><h2>Registration</h2></div>
<form method="post" id="form_reg" action="" novalidate>
    <div>
        <label for="login">
            <span>Please enter login:</span>
            <input type="text" placeholder="6 symbols" id="login" name="login" required pattern="[\S]{6,}">
            <span class="error" aria-live="polite"></span>
        </label>
    </div>
    <div>
        <label for="password">
            <span>Please enter password:</span>
            <input type="password" placeholder="6 symbols" id="password" name="password" required pattern="(?=.*[0-9])(?=.*[a-zA-Z])[0-9a-zA-Z]{6,}">
            <span class="error" aria-live="polite"></span>
        </label>
    </div>
    <div>
        <label for="pass_confirm">
            <span>Please confirm password:</span>
            <input type="password" id="pass_confirm" name="pass_confirm" required>
            <span class="error" aria-live="polite"></span>
        </label>
    </div>
    <div>
        <label for="mail">
            <span>Please enter an email address:</span>
            <input type="email" id="mail" name="mail" required pattern="^[a-z\S]+[a-z0-9+_.-]*@[a-z0-9_-]+\.[a-z0-9_-]+$">
            <span class="error" aria-live="polite"></span>
        </label>
    </div>
    <div>
        <label for="name">
            <span>Please enter name:</span>
            <input type="text" id="name" name="name" required pattern="[a-zA-Z]{2,}">
            <span class="error" aria-live="polite"></span>
        </label>
    </div>
    <button id="btn_reg">Send</button>
</form>

<div id="result_form"></div>
<button id="btn_forward" class="btn_index" hidden="true"><a href="/registration" class="btn">Registration</a></button>
<button id="btn_forward_auth" class="btn_index" hidden="true"><a href="/authorization" class="btn">Authorization</a></button>

{% block javascripts %}
    <script src="/mainReg.js"></script>
{% endblock %}

