<h2>Authorization</h2>
<form method="post" id="form_reg" action="">
    <div>
        <label for="login">
            <span>Please enter login:</span>
            <input type="text" id="login" name="login" required minlength="6">
            <span class="error" aria-live="polite"></span>
        </label>
    </div>
    <div>
        <label for="password">
            <span>Please enter password:</span>
            <input type="text" id="password" name="password" required minlength="6">
            <span class="error" aria-live="polite"></span>
        </label>
    </div>
    <button id="btn_auth">Send</button>
</form>
<div id="result_form"></div>
<button id="btn_forward" class="btn_index" hidden="true"><a href="/registration" class="btn">Registration</a></button>

{% block javascripts %}
    <script src="/mainAuth.js"></script>
{% endblock %}