{#<h2>Hello</h2>#}

<button class="btn_index"><a href="/registration" class="btn">Registration</a></button>
<button class="btn_index"><a href="/authorization" class="btn">Authorization</a></button>



